# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

---
# ---------------------------------#
#       general configuration      #
# ---------------------------------#

# version format
version: 0.{build}

# branches to build
branches:
  # blacklist
  except:
    - gh-pages

# Do not build on tags (GitHub only)
skip_tags: true

# ---------------------------------#
#    environment configuration    #
# ---------------------------------#

# Operating system (build VM template)
os: Windows Server 2012

# clone directory
clone_folder: c:\projects\hdlcc

# fetch repository as zip archive
shallow_clone: false

# set clone depth
clone_depth: 5

# environment variables
environment:
  ARCH: 32
  matrix:
    - BUILDER_NAME: ghdl
      # URL: http://pilotfiber.dl.sourceforge.net/project/ghdl-updates/Builds/ghdl-0.31/Windows/ghdl-0.31-mcode-win32.zip
      URL: http://pilotfiber.dl.sourceforge.net/project/ghdl-updates/Builds/ghdl-0.33/ghdl-0.33-win32.zip
    - BUILDER_NAME: msim
      URL: http://download.altera.com/akdlm/software/acdsinst/15.1/185/ib_installers/ModelSimSetup-15.1.0.185-windows.exe


# # build cache to preserve files/folders between builds
# cache:
#   - '%CACHE_PATH%'

# scripts that run after cloning repository
install:
  - git submodule update --init --recursive

  - ps: . "$env:APPVEYOR_BUILD_FOLDER\\.ci\\scripts\\appveyor_env.ps1"
  - ps: . "$env:APPVEYOR_BUILD_FOLDER\\.ci\\scripts\\setup_env.ps1"

  # - "python %APPVEYOR_BUILD_FOLDER%\\.ci\\scripts\\test_runner.py
  #     -vv -B --log-capture %EXTRA_ARGS%"
  - "python run_tests.py --%BUILDER_NAME% -v --log-level DEBUG"
  - coverage combine
  - coverage report
  - codecov
  - dir /B "%HOMEPATH%\\*.log"
  - 7z a hdlcc_success.zip "%HOMEPATH%\\*.log" "*.log"
  - appveyor PushArtifact hdlcc_success.zip

# We won't build or run tests from here
build: off
test: off

on_failure:
  - 7z a hdlcc_failure.zip "%HOMEPATH%\\*.log" "*.log"
  - appveyor PushArtifact hdlcc_failure.zip

# artifacts:
#   - path: "%HOMEPATH%\\*.log"
#     name: Logs
