---
# ---------------------------------#
#       general configuration      #
# ---------------------------------#

# version format
version: '{build}'

# branches to build
branches:
  # blacklist
  except:
    - gh-pages

# Do not build on tags (GitHub only)
skip_tags: true

# Maximum number of concurrent jobs for the project
max_jobs: 3


artifacts:
  - path: .tox
    name: Tox runtime

# ---------------------------------#
#    environment configuration    #
# ---------------------------------#

# Operating system (build VM template)
image: Visual Studio 2017

# clone directory
clone_folder: c:\projects\hdl_checker

# fetch repository as zip archive
shallow_clone: false

# set clone depth
clone_depth: 5

# environment variables
environment:
  GHDL_URL: http://pilotfiber.dl.sourceforge.net/project/ghdl-updates/Builds/ghdl-0.33/ghdl-0.33-win32.zip
  MSIM_URL: http://download.altera.com/akdlm/software/acdsinst/15.1/185/ib_installers/ModelSimSetup-15.1.0.185-windows.exe
  ARCH: 32

  matrix:
    # - PYTHON_VERSION: 37
    #   PYTHON: "C:\\Python37"
    #   BUILDER: ghdl

    # - PYTHON_VERSION: 37
    #   PYTHON: "C:\\Python37"
    #   BUILDER: msim

    - PYTHON_VERSION: 37
      PYTHON: "C:\\Python37"
      TOXENV: py27-windows

    - PYTHON_VERSION: 37
      PYTHON: "C:\\Python37"
      TOXENV: py37-windows

# scripts that run after cloning repository
install:
  - ps: . "$env:APPVEYOR_BUILD_FOLDER\\.ci\\scripts\\setup_env.ps1"
  # We need wheel installed to build wheels
  - "%PYTHON%\\python.exe -m pip install --upgrade pip"
  - "%PYTHON%\\python.exe -m pip install wheel tox"

  - ps: . "$env:APPVEYOR_BUILD_FOLDER\\.ci\\scripts\\appveyor_env.ps1"
  # - ps: if ($env:BUILDER "msim") { . "$env:APPVEYOR_BUILD_FOLDER\\.ci\\scripts\\setup_msim.ps1" }
  # - ps: if ($env:BUILDER "ghdl") { . "$env:APPVEYOR_BUILD_FOLDER\\.ci\\scripts\\setup_ghdl.ps1" }
  - python --version

test_script:
  - tox -- -v
after_test:
  - 7z a tox.zip ".tox"
  - appveyor PushArtifact tox.zip
  - ps: |
      $env:PATH = 'C:\msys64\usr\bin;' + $env:PATH
      Invoke-WebRequest -Uri 'https://codecov.io/bash' -OutFile codecov.sh
      bash codecov.sh -f "coverage.xml"

# We won't build or run tests from here
build: off

on_failure:
  - 7z a tox.zip ".tox"
  - appveyor PushArtifact tox.zip
