[run]
source = hdlcc
omit =
    hdlcc/__main__.py
    hdlcc/tests/*

branch = True
parallel = True

[report]
show_missing = True

# # Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
#     def __str__

    except ImportError:
    if __name__ == '__main__':
    @abc.abstractproperty 
    @abc.abstractmethod

# vim:ft=cfg:
