[run]
source = hdl_checker
omit =
    hdl_checker/__main__.py
    hdl_checker/_version.py
    hdl_checker/tests/*

branch = True
parallel = True

[report]
show_missing = True

# # Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__

    except ImportError:
    if __name__ == '__main__':
    @abc.abstractproperty 
    @abc.abstractmethod

# vim:ft=cfg:
