[submodule ".ci/rainbow_logging_handler"]
	path = .ci/rainbow_logging_handler
	url = https://github.com/suoto/rainbow_logging_handler
[submodule ".ci/hdl_lib"]
	path = .ci/hdl_lib
	url = https://github.com/suoto/hdl_lib
