[submodule ".ci/rainbow_logging_handler"]
	path = .ci/rainbow_logging_handler
	url = https://github.com/suoto/rainbow_logging_handler
[submodule ".ci/hdl_lib"]
	path = .ci/hdl_lib
	url = https://github.com/suoto/hdl_lib
[submodule ".ci/vim-hdl-examples"]
	path = .ci/vim-hdl-examples
	url = https://github.com/suoto/vim-hdl-examples
[submodule "dependencies/requests"]
	path = dependencies/requests
	url = https://github.com/kennethreitz/requests
[submodule "dependencies/bottle"]
	path = dependencies/bottle
	url = https://github.com/bottlepy/bottle
[submodule "dependencies/waitress"]
	path = dependencies/waitress
	url = https://github.com/Pylons/waitress
