[submodule "dependencies/bottle"]
	path = dependencies/bottle
	url = https://github.com/bottlepy/bottle
[submodule "dependencies/waitress"]
	path = dependencies/waitress
	url = https://github.com/Pylons/waitress
[submodule "dependencies/requests"]
	path = dependencies/requests
	url = https://github.com/kennethreitz/requests
