# This file is part of HDL Code Checker.
#
# HDL Code Checker is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# HDL Code Checker is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with HDL Code Checker.  If not, see <http://www.gnu.org/licenses/>.
---
language: python
matrix:
  include:
  - name: Python 2.7 - msim
    python: '2.7'
    env: TOX_PYTHON_VERSION=py27 BUILDER=msim
  - name: Python 2.7 - msim
    python: '2.7'
    env: TOX_PYTHON_VERSION=py27 BUILDER=msim
  - name: Python 2.7 - ghdl
    python: '2.7'
    env: TOX_PYTHON_VERSION=py27 BUILDER=ghdl
  - name: Python 2.7 - xvhdl
    python: '2.7'
    env: TOX_PYTHON_VERSION=py27 BUILDER=xvhdl
  - name: Python 2.7 - standalone and fallback
    python: '2.7'
    env: TOX_PYTHON_VERSION=py27 BUILDER=other
  - name: Python 3.7 - msim
    python: '3.7'
    dist: xenial
    env: TOX_PYTHON_VERSION=py37 BUILDER=msim
  - name: Python 3.7 - ghdl
    python: '3.7'
    dist: xenial
    env: TOX_PYTHON_VERSION=py37 BUILDER=ghdl
  - name: Python 3.7 - xvhdl
    python: '3.7'
    dist: xenial
    env: TOX_PYTHON_VERSION=py37 BUILDER=xvhdl
  - name: Python 3.7 - standalone and fallback
    python: '3.7'
    dist: xenial
    env: TOX_PYTHON_VERSION=py37 BUILDER=other
deploy:
  provider: pypi
  user: suoto
  on:
    tags: true
  skip_existing: true
  password:
    secure: Tme84ruGpdQ9N+U2ABVtpy7S9Ac+k/fF++a+P7AKE3ZT4krlwgfRvF3EgLAiJR+CuQiXRHLjMPXhDYKf/aJAFY70iOYWOJ5IaSWOwXQxRY/nFmP6ibm84AozFT+RPBHO5gQ9o/2ge59gSxY07QkpjUkUBLmHtxTgCXPlP6m7tI3AB31cmNmhagg719kEE5MWD/8XR/kXcdYzWd0pudTwTrbP2pnTZk70DFlYWQzXJWG9lf5stbD8rvBsJp8HCSQN+q4NqzddXm5YSZqhcxiPlZJrQbRsYy5HJmqowQp1Fm+XS4c6Mox8JZP3p06Ie44nzg2a/NeMBKwWbgtrG4D5wBZWryo2yozKPda/Dva7bWCYjox/kgeDY7y0hDRWgK5gcbjS1M3t7viJmmK21eUNnAyIQN4IXCpwxOx3Y8tX43is01Hn9YPTJDBZIbW1uRt9zCsd1v8pVd4GuvEcWMOPhcLbvPVUwNTSPwz2OR71uP05QcwqK6wFQGzHi2e3jEeBtIKZ8h+SQIUEuQkKMmfG3PIFO1Kv8vnCU+2E2nHwGv3QHJvT7VwhR2UGlN2z+098X/q5Xe98lJ1iWIFdzh+95cojMLEY8hFKYScqIhc22yTV42buLIu4sJxHzzhPc0KxETKJAaSzt8qBHBNii9gkc5xXZEuluCpyaAZCiLPkjY8=

before_install:
- sudo apt-get update -qq;
- sudo apt-get install -qq libtcl8.5
- sudo dpkg --add-architecture i386
- sudo apt-get install -qq build-essential
- sudo apt-get install -qq gcc-multilib g++-multilib lib32z1 lib32stdc++6 lib32gcc1
  expat:i386 fontconfig:i386 libfreetype6:i386 libexpat1:i386 libc6:i386 libgtk-3-0:i386
  libcanberra0:i386  libice6:i386 libsm6:i386 libncurses5:i386 zlib1g:i386 libx11-6:i386
  libxau6:i386 libxdmcp6:i386 libxext6:i386 libxft2:i386 libxrender1:i386 libxt6:i386
  libxtst6:i386 libharfbuzz-dev:i386
- export LD_LIBRARY_PATH=$HOME/freetype-2.4.12/objs/.libs
before_script:
  # - "git clone https://github.com/suoto/grlib .ci/test_support/grlib --depth 1"
  - pip install tox
  - "git submodule update"
  - "mkdir -p ~/cache"
  - if [ "${BUILDER}" == "msim" ]  ; then "./.ci/scripts/setup_msim.sh"; fi
  - if [ "${BUILDER}" == "ghdl" ]  ; then "./.ci/scripts/setup_ghdl.sh"; fi
  - if [ "${BUILDER}" == "xvhdl" ] ; then "./.ci/scripts/setup_xvhdl.sh"; fi
# command to install dependencies
# install:
#   - pip install -r requirements.txt
#   # A nice to have, not really needed
#   - pip install git+https://github.com/suoto/rainbow_logging_handler
#   - pip install -e .
# command to run tests
script:
  - if [ "${BUILDER}" == "msim" ] ; then  tox -e ${TOX_PYTHON_VERSION}-msim-linux ; fi
  - if [ "${BUILDER}" == "ghdl" ] ; then  tox -e ${TOX_PYTHON_VERSION}-ghdl-linux ; fi
  - if [ "${BUILDER}" == "xvhdl" ] ; then tox -e ${TOX_PYTHON_VERSION}-xvhdl-linux ; fi
  - if [ "${BUILDER}" == "other" ] ; then tox -e ${TOX_PYTHON_VERSION}-fallback-linux -e ${TOX_PYTHON_VERSION}-standalone-linux ; fi
after_success:
- coverage combine
- coverage report
- export COVERALLS_PARALLEL=true
- coveralls
- codecov
cache:
  pip: true
  directories:
  - "~/cache/"
