argcomplete==1.4.1
codecov==2.0.5
colorama==0.3.7
cov-core==1.15.0
coverage==4.1
coveralls==1.1
docopt==0.6.2
funcsigs==1.0.2
logutils==0.3.3
mock==2.0.0
nose2-cov==1.0a4
nose2==0.6.5
pbr==1.10.0
prettytable==0.7.2
requests==2.10.0
six==1.10.0
testfixtures==4.10.0
vunit-hdl==0.66.0
WebTest==2.0.23
